<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.current{
			color: orange;
		}
	</style>
</head>
<body>
	<div id="app">
		<fruit-list :fruit='list'>
			<template slot-scope='slotProps'>
				<strong v-if='slotProps.info.id==3' class='current'>{{slotProps.info.name}}</strong>
				<span v-else>{{slotProps.info.name}}</span>
			</template>
		</fruit-list>
	</div>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript">
		/*
			作用域插槽
		*/
		Vue.component('fruit-list',{
			props:['fruit'],
			template:`
				<div>
					<li :key='index' v-for='(item,index) in fruit'>
						<slot :info='item'>{{item.name}}</slot>
					</li>
				</div>
			`
		})
		var vm = new Vue({
			el:'#app',
			data:{
				msg:'hello vue',
				list:[{
					id:1,
					name:'apple'
				},
				{
					id:2,
					name:'orange'
				},
				{
					id:3,
					name:'banana'
				}]
			},
			methods:{

			}
		});
	</script>
</body>
</html>